<html>
    <head>
        <title> QIS : )</title>
        <link rel="stylesheet" href="../static/css/style.css"
    </head>
<body>
    <div class="banner">
        <img src="../static/images/qis_banner.png" alt="">
    </div>
    <div class="main">
        <div class="main-left">
            <img src="../static/images/admissions.jpg">
        </div>
        <div class="main-right">
            <h1>Manage Admissions</h1>
            <img src="../static/images/collagefull.png">
        </div>
    </div>
    <div class="gallery">
        <h1>gallery</h1>
        <img src="../static/images/library.jpeg" alt="">
        <img src="../static/images/computer_lab.jpeg" alt="">
        <img src="../static/images/dance.jpg" alt="">
        <img src="../static/images/graduation.jpg" alt="">
        <img src="../static/images/ground.jpg" alt="">
    </div>
    <div class="volentery">
        <div class="volentery-left">
            <img src="../static/images/hr.jpg" alt="">
            <h1>NOTE: she is not from this collage</h1>
        </div>
        <div class="volentery-right">
            <h1>CONTACT our volunteer</h1>
            <p>For any assistance or any 
                difficulties in the process 
                of admissions, please feel 
                free to reach out to our 
                volunteers
            </p>
            <p>
                She will take care of your 
                pickup and accomodation and 
                also she will be the guide 
                to you for the campus tour
            </p>
            <p id="call_me">
                (+91) 123-456-7890
                admissions@qis.com
            </p>
        </div>
    </div>
    <div class="details">
        <div class="sub-details">
            <h1>Address</h1>
            <p>Vengamukkapalem, Ongole<br>
                Prakasam District - 523272<br>
                Andhra Pradesh, India</p>
        </div>
        <div class="sub-details">
            <form action="/callme" method="post">
                <input type="text" placeholder="Name" name="name">
                <input type="email" placeholder="Email" name="email=">
                <input type="number" placeholder="ph_no" name="phone_number">
                <select name="course" required>
                    <option value="" disabled selected>select course</option>
                    <option value="CSE">CSE</option>
                    <option value="ECE">ECE</option>
                    <option value="EEE">EEE</option>
                    <option value="CIVIL">CIVIL</option>
                </select><br>
                <button type="submit">CallMe</button>
            </form>
        </div>
        <div class="sub-details">
            <h1>contact</h1>
            <p>Phone: +91 92464 19542<br>
                Mobile: +91 92464 19542<br>
                Fax: +91 92464 19542<br>
                Email: principal@qiscet.edu.in</p>
        </div>



    </div>


</body>


</html>